<div class="basket">
  <h2>Kosár tartalma</h2>
  <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Típus</th>
        <th>Kategória</th>
        <th>Egységár</th>
        <th>Mennyiség</th>
        <th>Összesen</th>
        <th>Műveletek</th>
      </tr>
    </thead>
    <tbody>
      <tr app-ticket-item
          *ngFor="let item of basketItems"
          [item]="item"
          [ngStyle]="{ 'background-color': item.quantity < 2 ? '#cfcfce' : 'white' }"
          (increase)="increaseQuantity(item.ticket.id)"
          (decrease)="decreaseQuantity(item.ticket.id)">
      </tr>
    </tbody>
  </table>
  <div class="total">
    <strong>Végösszeg:</strong> {{ getTotalPrice() }} Ft
  </div>
</div>