

<div class="tickets-container">
  <div class="ticket-table">
    <h2>Kiállítás jegyek</h2>
      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
      
        @for (column of columnsTicketBasic; track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
            <td mat-cell *matCellDef="let ticket">{{ column.cell(ticket) }}</td>
          </ng-container>
        }
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>
    </div>

      <mat-divider></mat-divider>

    <div class="tour-table">
      <h2>Túrajegyek</h2>
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
      
        @for (column of columnsTicketTour; track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
            <td mat-cell *matCellDef="let ticket">{{ column.cell(ticket) }}</td>
          </ng-container>
        }
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
    </div>
</div>